@model List<Car>

@if (@Model.Count > 5)
{
    <div class="alert alert-warning">
        <p> Maksimum Araç Sayısına Ulaşıldı.</p>
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <div class="card" style="width: 10rem;margin:1.7rem;">
                <img src="/img/@item.Image" class="card-img-top" alt="no image">
                <div class="card-body">
                    <h5 class="card-title">@item.Brand</h5>
                    <p class="card-text"><b>p:</b> @item.Plate</p>
                    <p class="card-text"><b>s:</b> @item.Start_date</p>
                    <p class="card-text"><b>e:</b> @item.End_date</p>


                    @* localhost/Home/CarExit/?id=1&page=3 asp-route-page="3" *@
                    <a style="color:white;" asp-action="CarExit" asp-controller="Home"
                       asp-route-id="@item.Id" class="btn btn-primary float-right">Car Exit</a>


                </div>
            </div>

        </div>
    }


</div>
